[Desktop Entry]
Name=Labwc Config
GenericName=Labwc Configuration
GenericName[it]=Impostazioni del gestore finestre labwc
GenericName[es]=Configuración de LabWC
Comment=Configure settings for Labwc
Comment[it]=Impostazioni di Labwc, gestore delle finestre in Wayland
Comment[es]=Configure los ajustes para Labwc
Exec=labwc-tweaks-gtk
Icon=labwc-tweaks-gtk
Type=Application
Categories=Settings;System;
